  .cart{
    margin-left: auto;
    margin-right: auto;
    display: block;
    padding: 1rem;
    overflow: scroll;
  }
  .summary{
    display: flex;
    justify-content: space-around;
    padding: 1rem;
    margin-left: auto;
    margin-right: auto;
  }
  .total{
    font-size: x-large;
    font-weight: 450;
    display: flex;
  }
  .total .amount{
    font-weight: 600;
    margin-left: 5px;
  }
  .summary .actions{
  justify-content: space-around;
  }
  
  .cart .heading{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgb(205, 68, 223);
    display: flex;
    padding: 1rem;
  }
  .cart .heading h2{
    margin-left: 10px;
    margin-top: 0px;
  }
  .cart .cartItems{
    display: inline-flex;
   flex-direction: row;
  }
 