.pagination{
    display: flex;
    justify-content: center;
    text-align: center;
   
    
}
.pagination li{
    list-style-type: none;
    text-decoration: none;
}

.pagination a{
    text-decoration: none;
}

.pagination .page_items button:active{
    font-weight: 900;
    border-color: black;
    background: rgb(206, 140, 184);
    color: black;
}