.header {
    max-width: 60rem;
    margin: auto;
    padding: 2rem;
    display: flex;
    justify-content: space-between;
  }
  .cart{
    margin-right: 10px;
  }
  .cart span{
    margin-bottom: 10px;
  }
  .round{
    border-radius: 1rem;
    background-color: white;
    color: indigo;
    width: 20px;
    margin-bottom: 5px;
  }
  
  .list {
    display: flex;
    gap: 1rem;
  }
  
  .list a {
    text-decoration: none;
    color: var(--color-primary-400);
  }
  
  .list a:hover,
  .list a.active {
    color: var(--color-primary-800);
  }
  .background{
    background-image: linear-gradient(to right, #b82b6c, #bd4c8e);
  }