.add{
    margin-top: 1rem;
   margin-left: 37rem;
}

.loading{
    text-align: center;
    color: rgb(45, 117, 199);
    font-weight: 500;
    margin-left: auto;
    margin-right: auto;
    display: block;
    align-self: center;
    padding-left: 15rem;
}
.home{
    display: flex;
    flex: 1;
    justify-content: flex-start;
    align-items: flex-start;
}