.lists{
    display: flex;
    align-items: flex-start;
    text-decoration: none;
    justify-content: space-around;
    background-image: linear-gradient(to right, #a13d51, #e994b0);
    margin-top: 4rem;
    height: 50px;
}
.lists a{
    text-decoration: none;
    margin-top: 10px;
    list-style-type: none;
    color: rgb(246, 246, 247);
    font-size: large;
    
}
.lists a:hover,
.lists a:active{
   text-decoration: underline;
    cursor: pointer;
    color: rgb(160, 15, 124);
}

