.form {
    max-width: 30rem;
    margin-right: auto;
    margin-left: auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding: 2rem;
    background-image: linear-gradient(to right, #bb5082, #cf88b1);
    border-radius: .2rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

  }
  .error{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgb(197, 9, 9);
  }
  .invalid{
    border: 2px solid #b40e0e;
    background-color: rgb(248, 183, 209);
  }

  
  .form h1{
    text-align: center;
    margin-top: 0px;
  }
  .form label,
  .form input,
  .form textarea {
    display: block;
    width: 100%;
    padding: auto;
    color: black;
    font-weight: bolder;
  }
  
  .form input,
  .form textarea {
    font: inherit;
    padding: .25rem;
    border-radius: .2rem;
  }
  
  .actions {
    display: flex;
    gap: 1rem;
    justify-content: flex-end;
    align-items: center;
  }
  .actions p{
    color: rgb(197, 25, 76);
    text-decoration: underline;
    cursor: pointer;
  }
  .actions p:hover{
    color: rgb(117, 32, 61);
  }
  
  .actions Button {
    font: inherit;
    cursor: pointer;
    padding: 0.5rem 1.5rem;
    border-radius: 4px;
    background-color:white;
    color: var(--color-gray-800);
    border: none;
    font-weight: bolder;

  }
  .actions Button:disabled,
  .actions Button:disabled:hover,
  .actions Button:disabled:active{
    background-color: #ccc;
    color: #292929;
    border-color: #ccc;
    cursor: not-allowed;
  }
  
  
  .actions a {
    text-decoration: none;
    background-color: transparent;
    color: var(--color-gray-300);
  }
  
  .actions Button:hover {
    background-color: rgb(138, 32, 63);
    color: white;
  }
  
  .actions a:hover {
    background-color: var(--color-gray-800);
  }
  .name{
    display: flex;
    justify-content: space-around;
  }

  